
.title-produto{
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 881px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    color: white;
    background-color: #7400B8; 
    margin: 0 auto;
    margin-top: 150px;
}
.tb-container{
    padding: 50px;
    width: 200px;
    text-align: center;
}
.label-produto{
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #7400B8;
    background-color: #6de0c0d8;
    margin-bottom: 15px;
    font-weight: bolder;
    cursor: pointer;
}
#label-produto{
    padding: 30px;
    font-weight: bolder;
    color: #7400B8;
    background-color: #6de0c0d8;
    cursor: pointer;
}

.linha-table-container{
    padding-right: 26px;
    padding-left: 26px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: rgba(0, 0, 0, 0.787);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 250px;
}
.cl1{
    display: flex;
    align-items: flex-start;
    padding: 10px;
    width: 200px;
}
.cl2{
    text-align: center;
    padding: 10px;
    width: 200px;
}
.cl3{
    text-align: center;
    padding: 10px;
    width: 200px;
}
/* renderização condicional */
.cl2-selected{
    text-align: center;
    padding: 10px;
    width: 200px;
    color: #80FFDB;
}
.cl3-selected{
    text-align: center;
    padding: 10px;
    width: 200px;
    color: #80FFDB;
}
.label-produto-selected{
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #7400B8;
    background-color: #80FFDB;
    margin-bottom: 15px;
    font-weight: bolder;
}
#label-produto-selected{
    padding: 30px;
    font-weight: bolder;
    color: #7400B8;
    background-color: #80FFDB;
}